
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 0% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
    background: transparent;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#login{
    left: 50px;
    
}
#register{
    left: 450px;
}

.input-field {
    padding-left: 30px; /* Adjust the padding to make space for the icon */
}

.input-field:focus + .fas {
    color: #007bff; /* Change the color of the icon when the input is focused */
}

.fas {
    position: absolute;
    left: 10px; /* Adjust the distance from the left as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Adjust the color of the icon */
}


.forgot-password {
    color: red; /* Change the text color to red */
    float: right; /* Align the link to the right */
}